#img1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.header{
	position: fixed;
	top: 25px;
	left: 45%;
	width: 100%;
	z-index: 2;
	text-align: center;
	color: #102A45;
	font-family: florsn18;
	font-size: 20px;
}
@font-face{
	font-family: florsn18;
	src: url(florsn18.ttf);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hr{
	position: fixed;
	top: 20px;
	left: 20px;
	color: black;
}
nav{
	color: black;
	position: fixed;
	top: 40px;
	font-size: 14px;
	font-family: florsn18;
}
.navl{
	color: black;
	position: fixed;
	top: 45px;
	left: 20px;
	font-size: 11px;
	font-family: florsn18;
	float: right;
}
.navr{
	color: black;
	position: fixed;
	top: 45px;
	right: 20px;
	font-size: 11px;
	font-family: florsn18;
	float: left;
}